.ql-editor ~ grammarly-extension {
  display: none;
}

/* .ql-editor p {
  display: inline-block;
} */

/* p.inline > br {
  display: none;
} */

.ql-container {
  height: calc(100% - 42px);
}

.ql-editor {
  font-size: 14px;
  position: relative;
  z-index: 40;
  font-family: Arial, sans-serif;
}
