@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // .error-line {
  //   border-bottom: 2px solid rgb(200, 24, 24);
  //   caret-color: black;
  // }

  .scrollbar-invisible {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  .scrollbar {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #c2bcbc;
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #b9b4b4;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  // font-family: Arial, sans-serif !important;
}
